@font-face {
  font-family: cocogoose;
  src: url('COCOGOOSELETTERPRESS TRIAL.ttf')
}

$background-gray: #272a31;
$highlight-orange: #ec5242;
$text-gray: #d3d3d3;
$nav-padding: 0.25rem 13rem;

.top-nav {
  background-color: $background-gray;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  padding: $nav-padding;
  .nav-item {
    padding-left: 1.5rem;
  }
  .nav-link {
    color: $text-gray;
    text-decoration: none;
    padding: 0;
    outline: none;
  }
}

.bottom-nav {
  @extend .top-nav;
  .navbar-brand {
    font-family: cocogoose, sans-serif;
    color: $highlight-orange;
    font-weight: bold;
    margin-right: 25rem;
    img {
      height: 2rem;
    }
  }
  .nav-link {
    color: $background-gray;
    padding: 0.25rem;
    padding-bottom: 5px;
  }
  .active {
    border: 3px solid $highlight-orange;
    padding-top: 1px;
  }
}