$background-gray: #272a31;
$highlight-orange: #ec5242;
$text-gray: #d3d3d3;
$nav-padding: 0.25rem 13rem;
$header-text: Frijole, sans-serif;
$body-text: Lato, sans-serif;

@mixin flexColumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Lato;
  color: $background-gray;
}

.top-menu-container {
  background: $background-gray;
}

.top-nav {
  background-color: $background-gray;
  font-family: $body-text;
  font-size: 1rem;
  // padding: $nav-padding;
  .nav-item {
    padding-left: 1.5rem;
  }
  .nav-link {
    color: $text-gray;
    text-decoration: none;
    padding: 0;
    outline: none;
  }
}

.bottom-nav {
  @extend .top-nav;
  justify-content: space-between;
  .navbar-brand {
    font-family: $header-text;
    color: $highlight-orange;
    font-weight: bold;
    img {
      height: 2rem;
    }
  }
  .nav-link {
    color: $background-gray;
    padding: 0.25rem;
    padding-bottom: 5px;
  }
  .active {
    border: 3px solid $highlight-orange;
    padding-top: 1px;
  }
}



.main-banner-container {
  min-height: 100vh;
  background-image: url(/production/images/steel.png);
  background-color: $background-gray;
}

h3 {
  font-family: $body-text;
  font-size: 2rem;
  color: $highlight-orange;
}

h1 {
  font-family: $header-text;
  color: $highlight-orange;
}

.snippet {
  border: 3px solid $text-gray;
  padding: 1rem;
  font-family: $body-text;
  font-size: 16px;
  color: $text-gray;
}

.date {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: $text-gray;
}

.venue {
  @extend .date;
  font-size: 16px;
  font-weight: light;
}

.main-program {
  @include flexColumns();
  background-color: $text-gray;
  a {
    color: $background-gray;
    text-decoration: underline;
  }
}

.underline {
  border: 2px solid $highlight-orange;
  width: 3rem; 
}

.program-header {
  @include flexColumns();
  border: none;
  background-color: white;
  color: $highlight-orange;
}

.featured-speakers {
  @include flexColumns();
}

.speaker-profile {
  display: flex;
}

.speaker-image {
  object-fit: cover;
  max-height: 100px;
  min-width: 100px;
}

.info {
  h4 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  .highlight {
    font-size: 0.75rem;
    color: $highlight-orange;
  }
  .mini-underline {
    @extend .underline;
    width: 1.5rem;
    border: 1px solid $text-gray;
  }
  p {
    @extend .highlight;
    color: $background-gray;
  }
}